html{
  margin:0;
  padding:0;
  height:100%;
}

body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeParent{
  position: relative;

  .textChild{
    /* border: 1px solid red;  */
    width: 100%;
    height: 50vh;
    position:absolute;
    top:390px;
    z-index:5;
  }
}

.account{
  position: relative;
  top:0;
  z-index: 10;
  background-color: red;
  
  .container{
    /* border:1px solid red; */
    position: absolute;
    top:0;
    width:100%;
    min-height:100vh;
    margin:150px 0 0 0;
    z-index:50;
  }
}
